@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap");
body h1 {
  text-align: center;
}

body {
  background-color: #fff;
}

body h4 {
  color: black;
}

.tablet {
  display: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box article {
  background-color: #aaaaaa;
  width: 100%;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

#maBoite {
  display: grid;
  grid-template-rows: 3, 1fr;
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #fff;
  }
  .tablet {
    display: block;
    background-color: burlywood;
  }
  .box div {
    width: calc(50% - 10px);
  }
  #maBoite {
    grid-template-columns: auto auto 200px;
    grid-template-rows: 2, 1fr;
  }
  #maBoite > * {
    grid-row: span 1;
    grid-column: span 2;
  }
  #maBoite nav {
    grid-row: span 3;
    grid-column: span 1;
    grid-column-start: 3;
  }
}

#maboiteBootStrap {
  background-color: white;
}

#maboiteBootStrap > * {
  background-color: #ccc;
}

#maboiteBootStrap h1 {
  text-align: center;
  text-transform: 400;
}

#maboiteBootStrap p {
  padding-top: 30px;
}

#maBoite svg {
  height: 50px;
  width: 30px;
  padding-left: 170px;
}

#maBoite {
  background-color: white;
}

#maBoite > * {
  background-color: #aa6969;
  margin: 5px;
  padding: 5px;
}

@media (min-width: 992px) {
  body {
    background-color: #fff;
  }
  .box article {
    width: calc(33.33333333% - 10px);
  }
  #maBoite {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: repeat(1, 1fr);
  }
}
